body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
}
.nav:hover{
    color: orange;
}
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #2838FF;
}
header * {
    display: inline;
}
header ul {
    padding: 0;
}
header li {
    margin-left: 20px;
}
section {
    height: 100vh;
    border: 1px solid #2838FF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div {
    width: 650px;
}
#home h1 {
    font-size: 3em;
}
section h2 {
    font-size: 2.5em;
}
section h3 {
    font-size: 1.5em;
}
section p{
    font-size: 1.4em;
}
header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#projecten a{
    font-size: 25px;
}
#home {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../image/WhatsApp\ Image\ 2020-08-17\ at\ 17.54.43.jpeg')
}
#over {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../image/WhatsApp\ Image\ 2020-08-17\ at\ 17.44.27.jpeg');
}
#opleiding {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../image/WhatsApp\ Image\ 2020-08-17\ at\ 17.41.46.jpeg');
}
#werk {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../image/2889825.jpg')
}
#projecten{
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('')
}
#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('../image/electronic-contacts-on-dark-blue-background-vector-21194996.jpg');
}
