/*navigatie*/

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

#navigatie_top {
	width: 90%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
  height: 65px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}
nav a:hover::before {
  width: 100%;
}

/*hoofdpagina*/
.tekst{
  color: white;
  text-align: center;
  font-size: larger;
  margin-top: 40px;
  margin-bottom: 40px;
}
a{
  color: black;
}
#navigatie_home{
  text-align: center;
  width: 300px;
  margin: auto;
}
.knop{
  width: 100px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  background-color: #55d6aa;
  display: inline-block;
}
.knop:hover{
  color: white;
}
.foto{
  margin-top: 20px;
  margin-bottom: 20px;
}
.foto img{
  width: 45%;
  height: 45%;
  margin-left: 28%;
  border: solid 3px #55d6aa;
}
#navigatie_foto{
  text-align: center;
  width: 300px;
  margin: auto;
  margin-bottom: 50px;
}
.footer{
  background-color: #55d6aa;
  width: 100%;
  height: 100%;
  position: sticky;
}
.video video{
  width: 45%;
  height: 45%;
  margin-left: 28%;
  margin-bottom: 30px;
}
/*contact pagina*/
#contact{
  color: white;
  margin-left: 10%;
  margin-top: 4%;
}
#contact a{
  color: #55d6aa;
  text-decoration: none;
}
#contact a:hover{
  color: white;
}
/*over pagina*/
#over{
  color: white;
  text-align: center;
  font-size: larger;
  margin-top: 40px;
}
textarea{
  width: 400px;
  height: 100px;
}
#textarea{
  text-align: center;
}
textarea:focus{
  box-shadow: 2px 2px 10px #55d6aa;
}
#verzend{
  text-align: center;
}
input:hover{
  box-shadow: 2px 2px 10px #55d6aa; 
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #55d6aa;
  text-align: center;
  padding: 5px 30px;
  font-size: 25px;
  color: white;
}
footer i{
  padding: 30px;
}